# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.meta
Assembly-CSharp.csproj

# 忽略文件夾
obj
Library
ProjectSettings
Temp
Library/
aaa
Assets/Demigiant
Assets/StreamingAssets
luaframework/lua
